<html>
    <head>
        <title>Melvin's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Melvin's Blog</a></h1>
        </div>

        <div>
            <p>published: 24.06.2020, 9:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Programming requires passion, discpline, focus and tons of coffee!</p>
        </div>

        <div>
            <p>published: 24.06.2020, 9:10</p>
            <h2><a href="">My second post</a></h2>
            <p>Follow my blog for brand new content each and every week. I promise you wont regret.</p>
        </div>
    </body>
</html>